#container{
	
	text-align: center;
	margin-top: 50px;

}
.child{
	display: block;
	margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
input{
	width: 200px;
	height: 50px;
	padding: 10px;
}
button{
	width: 100px;
	height: 40px;
	padding: 10px;
	border-radius: 3px;
	border-color: lightblue;
	background-color:white;

}
button:hover{
	color: lightblue;
	font-weight: bold;
}
